name: Training Pipeline

on:
  push:
    paths:
      - 'Workflow-CI/**'
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 pandas scikit-learn

    - name: Run MLflow Project
      run: |
        cd Workflow-CI/MLProject
        mlflow run . --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      if: success()
      run: |
        cd Workflow-CI/MLProject
        
        export MLFLOW_TRACKING_URI=file://$(pwd)/mlruns
        
        RUN_ID=$(python -c "import mlflow; runs = mlflow.search_runs(experiment_ids=['0']); print(runs.iloc[0].run_id if not runs.empty else 'none')")
        
        if [ "$RUN_ID" != "none" ]; then
          echo "Found latest Run ID: $RUN_ID"
          
          IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/sistemml01:latest"
          
          mlflow models build-docker -m "runs:/$RUN_ID/model" -n "$IMAGE_NAME"
          
          docker push "$IMAGE_NAME"
        else
          echo "No run found to build docker image."
          exit 1
        fi

    - name: Docker Scout Scan
      if: success()
      uses: docker/scout-action@v1
      with:
        image: ${{ secrets.DOCKER_USERNAME }}/sistemml01:latest
        summary: true

    - name: Upload MLflow Runs
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: mlruns
        path: Workflow-CI/MLProject/mlruns
